<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h2 class="panel-title">Editing Crypto</h2>
    </div>

    <div class="panel-body">
      <%= render 'form', crypto: @crypto %>
    </div>

    <div class="panel-footer ">
      <%= link_to 'Show', @crypto, class:'btn btn-primary' %>
      <%= link_to 'Back', cryptos_path, class:'btn btn-default'%>
    </div>

  </div>
</div>